{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"]
}
